POSTGRES_DB=replace-with-database-name
POSTGRES_USER=replace-with-database-user
POSTGRES_PASSWORD=replace-with-random-database-password
DJANGO_SECRET_KEY=replace-with-random-django-secret
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=replace-if-creating-a-local-superuser
DJANGO_SUPERUSER_EMAIL=
DEVICE_ID=
DEVICE_KEY=
DEVICE_KEY_ENCRYPTION_KEY=replace-with-base64-encoded-32-byte-key
ACCOUNT_SIGNER_SEED=replace-with-account-signer-seed
ACCOUNT_SIGNER_PUB=replace-with-matching-account-signer-public-key
NATS_AUTH_PASSWORD=replace-with-random-auth-user-password
NATS_PUBLISH_PASSWORD=replace-with-random-publisher-password
NATS_REDIRECT_IMAGE=ezenki/nats-auth-redirector@sha256:e42710e5a4936d13bd90b80304aba85ce13d03ae5f6cc3e03cd40faa4343a42e
